openblas,https://github.com/xianyi/OpenBLAS/archive/v0.3.7.tar.gz
gsl,ftp://ftp.gnu.org/gnu/gsl/gsl-2.6.tar.gz --cmake gsl.cmake
armadillo,https://sourceforge.net/projects/arma/files/armadillo-14.2.2.tar.xz
